<!DOCTYPE html>
{% extends "producerhead.html" %}
{% load static %}
<html lang="en">
<body>
{% block header %}
<div class="container">
	<div class="row">
		<div class="col col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12"></div>
		<div class="col col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 mt-5">
			<form method="POST" enctype="multipart/form-data" style="border: 1px solid grey; padding: 10px; border-radius: 10px;">
                <h1 class="post-title">Clips</h1>
                <div class='post-input-containers'>
                    <label for='Movie_name' class='post-input-titles'>Movie Name</label>
                    <input id='Movie_name' name="Movie_name" type='text' placeholder="Movie Name"  class="post-heading-input heading-input-text"/>
                </div>
                <div class='post-input-containers'>
                    <label for='Heading' class='post-input-titles'>Heading</label>
                    <input id='Heading' name="Heading" type='text'  placeholder="Heading"  class="post-heading-input heading-input-text"/>
                </div>
                <div class='post-input-containers'>
                    <label for='text' class='post-input-titles'>Description</label>
                    <textarea id="text" name="text" placeholder="Text" rows="6" cols="100" class="post-textarea textarea-input-text"></textarea>
                </div>
                <div class="upload-image-video-container">
                    <div class="image-upload mr-2">
                        <label for="Image" class='post-input-titles'>Video
                            <input id="Image" name="Image" type="Video" hidden/><img src="https://icons.iconarchive.com/icons/itweek/knob-toolbar/32/Knob-Upload-icon.png" class="upload-image"/>
                        </label>
                    </div>
<!--                    <div class="image-upload">-->
<!--                          <label for="video" class='post-input-titles'>Video-->
<!--                            <img src="https://icons.iconarchive.com/icons/itweek/knob-toolbar/32/Knob-Upload-icon.png" class="upload-image"/>-->
<!--                          </label>-->
<!--                          <input id="video" name="video" type="file" />-->
<!--                    </div>-->
                </div>
                <div class="upload-button-container">
                    <button class="upload-btn" type="submit" value="submit">Upload</button>
                </div>
			</form>
		</div>
		<div class="col col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12"></div>
	</div>
</div>
<a class="back-to-top" href="#">
	<svg class="back-icon" width="16" height="18"><use xlink:href="#olymp-back-to-top"></use></svg>
</a>
</body>
</html>
{% endblock %}
