<!DOCTYPE html>
{% extends "producerhead.html" %}
{% load static %}
<html lang="en">
<body>
{% block header %}

<div class="crumina-module crumina-heading">
    <div class="producer-dashboaard-bg-container">
	    <h1 class="producer-dashboard-logo-heading">Cinystore</h1>
		<p class="producer-dashboard-logo-description">
			Cinystore is a platform to connect filmmakers of all formats of films with their audience worldwide,as a user you can find films that you might not have discovered otherwise,
			and follow pages dedicated to specific genres or directors, and you may come across movies that pique your interest.
		</p>
    </div>
</div>
<div class="container">
		<div class="row">
              <div class="col-12 col-md-3">
                  <div class="movie-bg-container">
                      <a href = "{% url  'statistics' %}" class="images-container">
                        <img src="https://static.javatpoint.com/best/images/best-hd-movies1.jpg"  class="images" />
                      </a>
                        <a href = "{% url  'statistics' %}">
                        <h1 class="movie-title">RRR</h1>
                        </a>
                  </div>
              </div>
              <div class="col-12 col-md-3">
                  <div class="movie-bg-container">
                      <div class="images-container">
                        <img src="https://static.javatpoint.com/best/images/best-hd-movies2.jpg"  class="images" />
                      </div>
                        <a href = "{% url  'statistics' %}">
                        <h1 class="movie-title">INCEPTION</h1>
                        </a>
                  </div>
              </div>
              <div class="col-12 col-md-3">
                  <div class="movie-bg-container">
                      <div class="images-container">
                        <img src="https://static.javatpoint.com/best/images/best-hd-movies3.jpg"  class="images" />
                      </div>
                        <a href = "{% url  'statistics' %}">
                        <h1 class="movie-title">BANDLA</h1>
                        </a>
                  </div>
              </div>
              <div class="col-12 col-md-3">
                  <div class="movie-bg-container">
                      <div class="images-container">
                        <img src="https://static.javatpoint.com/best/images/best-hd-movies4.jpg"  class="images" />
                      </div>
                        <a href = "{% url  'statistics' %}">
                        <h1 class="movie-title">ENOLA HOMES</h1>
                        </a>
                  </div>
              </div>
              <div class="col-12 col-md-3">
                  <div class="movie-bg-container">
                      <div class="images-container">
                        <img src="https://static.javatpoint.com/best/images/best-hd-movies5.jpg"  class="images" />
                      </div>
                        <a href = "{% url  'statistics' %}">
                        <h1 class="movie-title">MOCKINGJAY</h1>
                        </a>
                  </div>
              </div>
              <div class="col-12 col-md-3">
                  <div class="movie-bg-container">
                      <div class="images-container">
                        <img src="https://static.javatpoint.com/best/images/best-hd-movies6.jpg"  class="images" />
                      </div>
                        <a href = "{% url  'statistics' %}">
                        <h1 class="movie-title">EXTRACTION</h1>
                        </a>
                  </div>
              </div>
              <div class="col-12 col-md-3">
                  <div class="movie-bg-container">
                      <div class="images-container">
                        <img src="https://static.javatpoint.com/best/images/best-hd-movies7.jpg"  class="images" />
                      </div>
                        <a href = "{% url  'statistics' %}">
                        <h1 class="movie-title">MULTIVERSE OF MADNESS</h1>
                        </a>
                  </div>
              </div>
        </div>
	</div>
<div class="post-btn-container col-12 pr-4 pb-4 fixed-bottom">
    <div type="button" class="post-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <img src="https://ps.w.org/bloglentor-for-elementor/assets/icon-256x256.png?rev=2352572" class="post-icon"/>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <!--<h1 class="modal-title fs-5" id="exampleModalLabel">title</h1>-->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="popup-container">
            <p class="popup-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.
            </p>
            <div>
                <button class="upload-buttons">
                    <a href="{% url 'PostText' %}" style="color:#fff;text-decoration:none;">Posts</a>
                </button>
                <button class="upload-buttons">
                    <a href="{% url 'ClipsText' %}" style="color:#fff;text-decoration:none;">Clips</a>
                </button>
            </div>
        </div>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>-->
    </div>
  </div>
</div>
<!--<div class="modal fade  come-from-modal right" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="post-container">
                <div class="close-container mb-4">
                    <button type="button" class="close" style="color: white;" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h1 class="post-title">Post</h1>

                </div>
                <div class='post-input-containers'>
                    <label for='heading' class='post-input-titles'>Heading</label>
                    <input id='heading' type='text' placeholder="Heading"  class="post-heading-input heading-input-text"/>
                </div>
                <div class='post-input-containers'>
                    <label for='post' class='post-input-titles'>Text</label>
                    <textarea id="post" placeholder="Text" rows="6" cols="160" class="post-textarea textarea-input-text"></textarea>
                </div>
                <div class="upload-image-video-container">
                            <div class="image-upload mr-2">
                                  <label for="file-input">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZUawPAM82luGiI5-37MmzvLb-ePn3iQrS9A&usqp=CAU" class="upload-image"/>
                                  </label>
                                  <input id="file-input" type="file" />
                            </div>
                        </div>
                        <div class="upload-button-container">
                            <a href="#" class="upload-btn-card">
                                <button class="upload-btn">Post</button>
                            </a>
                        </div>
                    </div>
                </div>
           </div>
</div>-->

{% endblock %}
</body>
</html>

