.producer-dashboaard-bg-container {
    padding-top: 30px;
    padding-bottom: 16px;
}


.producer-dashboard-logo-heading {
    color: #6eab7d;
    font-size: 19px;
    letter-spacing: .2rem;
    margin-left: 60px;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
    margin-left: 60px
}

.producer-dashboard-logo-description {
    color: #9a9fbf;
    line-height: 1.75;
    position: relative;
    font-size: 14px;
    margin-left: 60px;
    margin-right: 20px;
}

@media (min-width: 768px) {
    .producer-dashboard-logo-heading {
        margin-left: 200px;
    }

    .producer-dashboard-logo-description {
        margin-left: 200px;
    }
}

.movie-bg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 30px;
}

.images-container {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images {
    height: 100%;
    width: 75%;
    border-radius: 10px;
    box-shadow: 0px 2px 8px #ffffff;
    transition: all 400ms ease;
}

.images:hover {
    transform: scale(1.10);
    box-shadow: 0 4px 16px -7px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 768px) {
    .images {
        width: 100%;
    }
}

.movie-title {
    font-family: "inherit";
    margin-top: 14px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    letter-spacing: .15rem;
    color: aliceblue;
    transition: all 400ms ease;
}

.movie-title:hover {
    transform: scale(1.02);
}

@media screen and (min-width: 768px) {
    .movie-title {
        font-size: 18px;
    }
}

.popup-container {
    width: 100%;
    padding: 20px;
}

.popup-text {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    margin-bottom: 40px;
}

.upload-buttons {
    width: 151px;
    margin-right: 20px;
    border-width: 0px;
    background-color: #D84315;
    border-radius: 10px;
    height: 35px;
    font-size: 19px;
    font-weight: 500;
    color: #fff;

}

.post-btn-container {
    display: flex;
    justify-content: flex-end;
}

.post-btn {
    border-radius: 100%;
    background-color: transparent;
    border-width: 0px;
}

.post-icon {
    height: 40px;
    width: 40px;
    background-color: #ff5e3a;
    border-radius: 100%;
    box-shadow: 0px 1px 8px #000;
}

.close-container {
    diplay: flex: justify-content: space-between;
    align-items: center;
}



@media (min-width:768px) {
    .come-from-modal.right .modal-dialog {
        position: fixed;
        margin-left: 1000px;
        width: 500px;
        height: auto;
    }
}


.post-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: rgb(8 51 51);
}

.post-title {
    font-family: 'inherit';
    font-weight: bold;
    text-align: start;
    font-size: 23px;
    color: #ff5e3a;
    margin-bottom: 30px;
    letter-spacing: .08rem;
}


.post-input-containers {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.post-input-titles {
    font-family: 'inherit';
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
    color: aliceblue;
}

.post-heading-input {
    height: 44px;
    border-width: 0px;
    border-radius: 7px;
    padding-left: 13px;
    background-color: white;
}

.heading-input-text {
    font-family: 'inherit';
    font-size: 20px;
    color: #5a4646;
}

.post-textarea {
    border-width: 0px;
    border-radius: 7px;
    padding-left: 13px;
    padding-top: 8px;
    height: 165px;
}

.textarea-input-text {
    font-family: 'inherit';
    font-size: 20px;
    color: #5a4646;
    line-height: 20px;
}

.upload-image-video-container {
    display: flex;
    justify-content: flex-end;
}

.upload-image {
    height: 40px;
    width: 40px;
    margin-right: 20px;
    border-radius: 100%;
}

.image-upload>input {
    display: none;
}

.upload-button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 21px;
}

.upload-btn-card {
    width: 100%;
    text-align: center;
}

.upload-btn {
    font-family: 'inherit';
    color: white;
    font-size: 22px;
    border-width: 0px;
    background-color: #ff5e3a;
    height: 40px;
    width: 100%;
}

/*......Create Label CSS*/
.label-bg-container {
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 6px;
}

.label-inputs-bg-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    border-width: 1px;
}

.label-inputs-text {
    font-family: 'inherit';
    font-size: 16px;
    margin-bottom: 3px;
    color: black;
}

.label-inputs-container {
    height: 60px;
    border-color: #9a9fbf;
    border-radius: 5px;
}

.placeholder-text {
    font-family: 'inherit';
    font-size: 16px;
    color: black;
}

.upload-label-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}


.upload-label-btn {
    border-width: 0px;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    background-color: #ff5e3a;
    color: white;
    font-size: 17px;
}

@media (min-width: 768px) {
    .upload-label-btn {
        width: 50%;
    }
}